<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <byte8_pulsar>
            <general>
                <enabled>1</enabled>
                <api_key/>
            </general>
            <checks>
                <cron_enabled>1</cron_enabled>
                <indexer_enabled>1</indexer_enabled>
                <cache_enabled>1</cache_enabled>
                <database_enabled>1</database_enabled>
                <system_enabled>1</system_enabled>
                <search_enabled>1</search_enabled>
                <queue_enabled>1</queue_enabled>
                <deploy_enabled>1</deploy_enabled>
                <redis_enabled>1</redis_enabled>
                <log_enabled>1</log_enabled>
                <admin_security_enabled>1</admin_security_enabled>
                <config_hygiene_enabled>1</config_hygiene_enabled>
                <ssl_enabled>1</ssl_enabled>
                <orders_enabled>1</orders_enabled>
                <integrations_enabled>1</integrations_enabled>
                <phpfpm_enabled>0</phpfpm_enabled>
                <phpfpm_status_url>http://localhost/status?json</phpfpm_status_url>
                <media_integrity_enabled>1</media_integrity_enabled>
                <upload_endpoint_enabled>1</upload_endpoint_enabled>
                <upload_endpoint_log_path/>
            </checks>
        </byte8_pulsar>
    </default>
</config>
