<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Health Check Collector Pool -->
    <type name="Byte8\Pulsar\Model\HealthCheck">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="cron" xsi:type="object">Byte8\Pulsar\Model\Collector\CronCollector</item>
                <item name="indexer" xsi:type="object">Byte8\Pulsar\Model\Collector\IndexerCollector</item>
                <item name="cache" xsi:type="object">Byte8\Pulsar\Model\Collector\CacheCollector</item>
                <item name="database" xsi:type="object">Byte8\Pulsar\Model\Collector\DatabaseCollector</item>
                <item name="system" xsi:type="object">Byte8\Pulsar\Model\Collector\SystemCollector</item>
                <item name="search" xsi:type="object">Byte8\Pulsar\Model\Collector\SearchCollector</item>
                <item name="queue" xsi:type="object">Byte8\Pulsar\Model\Collector\QueueCollector</item>
                <item name="deploy" xsi:type="object">Byte8\Pulsar\Model\Collector\DeployCollector</item>
                <item name="redis" xsi:type="object">Byte8\Pulsar\Model\Collector\RedisCollector</item>
                <item name="log" xsi:type="object">Byte8\Pulsar\Model\Collector\LogCollector</item>
                <item name="admin_security" xsi:type="object">Byte8\Pulsar\Model\Collector\AdminSecurityCollector</item>
                <item name="config_hygiene" xsi:type="object">Byte8\Pulsar\Model\Collector\ConfigHygieneCollector</item>
                <item name="ssl" xsi:type="object">Byte8\Pulsar\Model\Collector\SslCollector</item>
                <item name="orders" xsi:type="object">Byte8\Pulsar\Model\Collector\OrderCollector</item>
                <item name="integrations" xsi:type="object">Byte8\Pulsar\Model\Collector\IntegrationCollector</item>
                <item name="phpfpm" xsi:type="object">Byte8\Pulsar\Model\Collector\PhpFpmCollector</item>
                <item name="media_integrity" xsi:type="object">Byte8\Pulsar\Model\Collector\MediaIntegrityCollector</item>
                <item name="upload_endpoint" xsi:type="object">Byte8\Pulsar\Model\Collector\UploadEndpointCollector</item>
                <item name="database_size" xsi:type="object">Byte8\Pulsar\Model\Collector\DatabaseSizeCollector</item>
                <item name="log_errors" xsi:type="object">Byte8\Pulsar\Model\Collector\LogErrorCollector</item>
            </argument>
        </arguments>
    </type>

</config>
